[importlinter]
root_package = definit_db

[importlinter:contract:1]
name=AcyclicDependencies
type=acyclic_siblings
ancestors = 
    definit_db
# depth = 3 -> only check if fields do not depend on each other
depth = 3  
